



/* ============ Body ===============*/


.row1, .row2{
    display: flex;
    justify-content: space-around;
    margin:5px 0;
}

.video_container {
    position: relative;
    width : 33%;
    padding-bottom:18.56%; 
    height:0;


    

}

.video1 {
    background: center no-repeat url(./Images/Gifs/hermesportfolio.gif);
    background-size: cover;
}

.video2 {
    background: center no-repeat url(./Images/Gifs/ClubMedPortfolio.gif);
    background-size: cover;
}

.video3 {
    background: center no-repeat url(./Images/Gifs/couleurportfolio.gif);
    background-size:cover;
}
.video4 {
    background: center no-repeat url(./Images/Gifs/TrailPortfolio.gif);
    background-size:cover;
}
.video5 {
    background: center no-repeat url(./Images/Gifs/amityportfolio.gif);
    background-size:cover;
}
.video6 {
    background: center no-repeat url(./Images/Gifs/DJIPortfolio.gif);
    background-size:cover;
}

.container_details{
    width:100%;
    height:100%;
    position: absolute;
    display:flex;
    justify-content: center;
    background: rgba(0,0,0,0.9);
    opacity:0;
    transition: ease-in-out  0.3s;



}

.container_details:hover{
    opacity:1;

}

.details {
    margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  color:white;
  text-align:center;
}

.container_text:hover{
    opacity:100%;
    background-color: aqua;
}

.containter_text_title {
    font-size:larger;
    margin:0;
}

.containter_text_type {
    opacity:50%;
    font-size:larger;
    margin:0;

}


.gif {
    z-index: -1;
    width:100%;
    border: solid rgba(255,255,255,0.1) 1px;
    opacity: 100%;
}
.gif:hover {
    opacity:20%;
}



@media (max-width:1024px) {
    .gallery {
        margin:6px;
    }

    .row1, .row2{
        flex-direction: column;
        margin:0;
    }

    .video_container {
        width:100%;
        padding-bottom: 56.25%;
        margin: 3px 0;
        }

}


