@font-face {
    font-family: 'Fustat-VariableFont'; /* Name your font family */
    src: url('./Fonts/Fustat/Fustat-VariableFont_wght.ttf'); /* Locate the .ttf file within your directory*/
  }

@font-face {
font-family: 'Geist'; /* Name your font family */
src: url('./Fonts/Geist-1.3.0/Geist-1.3.0/statics-ttf/'); /* Locate the .ttf file within your directory*/
}

@font-face {
    font-family: 'Absans'; /* Name your font family */
    src: url('./Fonts/Absans/web/Absans-Regular.woff'); /* Locate the .ttf file within your directory*/
    }


@font-face {
    font-family: 'Monesstry'; /* Name your font family */
    src: url('./Fonts/monesstry/MonesstryFree.ttf'); /* Locate the .ttf file within your directory*/
    }


html{
    background-color: black;
}


h1{
    font-family:Monesstry;
    font-weight: 100;
    font-size: 100px;
    margin:0;
}


h2, h3, .Fustat{
    font-family:Fustat-VariableFont;
    font-weight: 25;
} 

p, a, .absans{
    font-family:Absans;
    font-size:18px;
}

@media (max-width: 768px){
    h3{
        font-size: 15px;
    }
}
body,html{
    margin:0;
    padding:0;
}






/* ============ HEADER =========== */

header {
    margin: 2% 10%;
    padding-bottom:100px;
    background-color: black;
    color:white;
    position: relative;
}

header h3 {
    margin:0;
}

.logo_section{
    position:absolute;
    margin:0;
    left:50%;
    transform: translate(-50%);
    text-align: center;
}

.nav_section{
    display: flex;
    height:70px;
    align-items: center;
}


.logo {
    width:200px;
}

.navbar_selected {
    color: white;
}
.text_navbar{
    color: rgba(255,255,255,0.5);
    transition: ease-in-out .2s;
}

.text_navbar:hover{
    color: rgba(255,255,255,0.8);
}

.navbar > a {

    text-decoration: none;
    padding: 0 3% 0 0;
}

.navbar {
    flex: 1;
    display: flex;
} 

.open-btn {
    display: none;
}

.close-btn {
    display: none;
    background: center no-repeat url(./Images/Icons/close-btn.png);
    background-size:cover;
}

.right-icons {
    display: flex;
    justify-content: space-between;
    width:10%;
}
.language {
    display: flex;
}

.language img {
    width:25px;
    height:25px;
    margin-right:5px;

}

.change-language {
    color:white;
}

@media (max-width: 768px) {

    header {
        margin: 10% 2%;

    }
    header > h3 {
        margin:0;
    }


    .nav_section{
        z-index:1;
        display: flex;
        position:fixed;
        left:-100%;
        top:0;
        right:0;
        bottom:0;
        width:100%;
        height:100%;
        background: rgba(0,0,0,0.9);
        transition: left 0.5s ease;

    }

    .nav_section.active {
        left:0%;
    }
    
    .navbar{
        width:100%;
        height:100px;
        position:absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        text-align:center;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar a {
        font-size:22px;

    }

    .socials{
        position: absolute;
        bottom:50px;
        left:50%;
        transform:translateX(-50%);
        padding:20px;
    }

    .close-btn {
        width:30px;
        height:30px;
        display: block;
        position: absolute;
        right:0;
        top:0;
        margin:50px;
    }
    .close-btn a {
        font-size:100px;

        text-decoration: none;
        color:white;
    }

    .open-btn {
        position:absolute;
        left:0;
        top:0;
        display: block;
        width:40px;
        height:40px;
        background: no-repeat center url(./Images/Icons/burgermenu.png);
        background-size:cover;

    }
    h1 {
        font-size:70px;
    }

    .logo_section {
        width:80%;
    }

}


/* ======= Footer ======= */

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    opacity:0.2;
}

.copyright > img {
    width:15px;
    height:15px;
    margin:5px;
}



@media (max-width:768px) {
    .copyright p {
        font-size: 15px;
    }
}